

.profile-card{
    padding: 24px 24px;
    border: none;
    border-radius: 15px;
}

.user-infos{
    position: relative;
}
.user-infos::after{
    position: absolute;
    content: '';
    bottom: -6px;
    left: 0;
    background-color: #DDDDDD;
    width: 100%;
    height: 2px;
    z-index: 1;
}
.hide-after::after {
    display: none;
  }
.user-info{
    cursor: pointer;
    font-weight: bold;
    color: grey;
    padding: 0 0.8rem 0 0.8rem;
}

.active-info{
    color: black;
    position: relative;
}

.active-info:after{
    position: absolute;
    content: '';
    bottom: -8px;
    left: 0;
    background-color: black;
    width: 100%;
    height: 3px;
    z-index: 2;
}

.edit-info-inputs {
    border-radius: 10px; 
    height: 45px;
    background-color: rgb(240, 240, 240);
    border: none;
    border-color: transparent;
    
}

.edit-info-inputs:enabled {
    box-shadow: none;
    border: 3px solid transparent;
    border-color: #00bfd2;
    background-color: #fff;
}
  
.modif-pointer{
    cursor: pointer;
}

.loader {
    position: relative;
    width: 2.5em;
    height: 2.5em;
    transform: rotate(165deg);
   }
   
   .loader:before, .loader:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    transform: translate(-50%, -50%);
   }
   
   .loader:before {
    animation: before8 2s infinite;
   }
   
   .loader:after {
    animation: after6 2s infinite;
   }
   
   @keyframes before8 {
    0% {
     width: 0.5em;
     box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }
   
    35% {
     width: 2.5em;
     box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
    }
   
    70% {
     width: 0.5em;
     box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
    }
   
    100% {
     box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }
   }
   
   @keyframes after6 {
    0% {
     height: 0.5em;
     box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }
   
    35% {
     height: 2.5em;
     box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
    }
   
    70% {
     height: 0.5em;
     box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
    }
   
    100% {
     box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }
   }
   

   .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77vh; 
}

.error-message {
    min-height: 1em;
  }

.radio-group{
    height: 50%;
}
.radio{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 40px;
    padding-top: 10px;
    cursor: pointer;
}

.radio input[type= "radio"]{
    display: none;
}

.radio span {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #CCCCCC;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 7px;
}

.radio span:after{
    content: '';
    position: absolute;
    display: block;
    height: 28px;
    width: 28px;
    background-color: #fff;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    transform: translate(-50% , -50%) scale(1);
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.radio input[type = "radio"]:checked ~ span:after{
    height: 16px;
    width: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
}
.radio input[type="radio"]:checked ~ span {
    background-color: #00bfd2; 
}

.radio input[type="radio"]:checked ~ .gender-banned{
    background-color: #CCCCCC;
}

.GoBackArrow{
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
    margin-right: 24px;
    transition: background 0.3s ease;
}
.GoBackArrow:hover{
    color: white;
    background-color: black;
}

.banned-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .banned-popup-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 3;
  }
  
  .banned-popup-content {
    position: relative;
    background: white;
    border-radius: 8px;
    z-index: 10; 
    max-width: 495px;
    animation: fadeDown 0.5s ease-out;
  }


.cancel-ban-btn{
    padding: 10px;
    width: 150px;
    border: 3px solid #111111;
    border-radius: 10px;
    color: black;
    font-weight: bold;
}
.cancel-ban-btn:hover{
    border: 3px solid #111111;
    background-color: #111111;
    color: white;
}

@keyframes fadeDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .activer-btn {
    padding: 13px;
    width: 150px;
    border: none;
    color: white !important;
    background: linear-gradient(90deg, rgba(0,189,169,1) 0%, rgba(0,192,252,1) 100%);
    transition: background 0.3s ease;
}

.activer-btn:hover {
    background: linear-gradient(90deg, rgba(0,200,169,1) 0%, rgba(0,220,252,1) 100%);
    color: white;
}


.alert-danger{
    margin: 0 20px 0 0;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: #ED1C24;
}

.banned{
    display: none;
}