

  
  .ul-lang {
    list-style: none;
  }
  
  .dropdown {
    position: absolute;
    top: 4.2rem;
    right: 1.8rem;
    background-color: #fff;
    border: 1px solid rgba(0,189,169,1);
    width: 100px;
    border-radius: 5px;
  }
  
  .dropdown::before {
    content: '';
    position: absolute;
    top: -0.4rem;
    right: 1.1rem;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background-color: #fff;
    border-left: 1px solid rgba(0,189,169,1);
    border-top: 1px solid rgba(0,189,169,1);
  }
  
  .languages {
    padding: 5px 0 5px 8px;
    display: flex;
    justify-content: center;
    padding-right: 10px;
  }
  
  .languages:hover {
    background: rgb(0,189,169);
    background: linear-gradient(90deg, rgba(0,189,169,1) 0%, rgba(0,194,255,1) 100%);
  }
  
.login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.form-control {
  border-radius: 10px; 
  height: 45px;
  background-color: rgb(216, 216, 216);
}
.pwd{
  border-right: none;
  border-right-color: transparent;
}

.form-control:focus {
  box-shadow: none;
  border: 3px solid transparent;
  border-color: #00bfd2;
}

.eye{
  background-color: rgb(216, 216, 216);
  border-left: none;
  cursor: pointer;
  border-radius: 10px;
}

.custom-btn{
  background-color: black;
  border-radius: 10px;
  color: white;
  height: 50px;
}

.custom-btn:hover{
  background-color: rgb(28, 28, 28);
  color: white;
}

