.users-card{
    border: none;
    border-radius: 15px;
}
h3{
    font-weight: 600;
}
.user-categories{
    position: relative;
}
.user-categories::after{
    position: absolute;
    content: '';
    bottom: -6px;
    left: 0;
    background-color: #DDDDDD;
    width: 100%;
    height: 2px;
    z-index: 1;
}
.user-category{
    cursor: pointer;
    font-weight: bold;
    color: grey;
    padding: 0 0.8rem 0 0.8rem;
}
.active-category{
    color: black;
    position: relative;
}

.active-category:after{
    position: absolute;
    content: '';
    bottom: -8px;
    left: 0;
    background-color: black;
    width: 100%;
    height: 3px;
    z-index: 2;
}



h6{
    font-weight: bold;
}
  

.pfp-container{
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: relative;
}
.pfp{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 1.5em;
  }
  

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  

  .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: rgb(200, 200, 200);
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .slider:before {
    position: absolute;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5em;
    width: 1.5em;
    inset: 0;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .switch input:checked + .slider {
    background: #00BED4;
  }
  

  .switch input:checked + .slider:before {
    transform: translateX(2em);
  }

.actions-dots{
    cursor: pointer;
    margin-left: 10px;
    padding: 10px;
    border-radius: 50%;
    transition: background 0.3s ease;
}

.actions-dots:hover , .filter-dots:hover{
    background-color: rgb(215, 215, 215);
}

.AddUser_btn{
    border: none;
    width: 147px;
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(0,189,169,1) 0%, rgba(0,192,252,1) 100%);
    color: white;
    transition: background 0.3s ease;
}

.AddUser_btn:hover{
    background: linear-gradient(90deg, rgba(0,200,169,1) 0%, rgba(0,220,252,1) 100%);
}


.form-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .form-popup-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 50;
  }
  
  .form-popup-content {
    position: relative;
    background: white;
    border-radius: 8px;
    z-index: 60; 
    width: 70%;
    animation: fadeDown 0.5s ease-out;
  }


.no-display::after{
  display: none;
}

.etoile{
  margin: 0 0 0 2px;
  color: red;
}
.error-message {
  min-height: 1em;
}

.user-dropdown {
  position: absolute;
  left: -7.5rem;
  top: -2rem;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 10px;
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  background-color: white;
  z-index: 999;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.delete {
  color: red;
  cursor: pointer;
}

.delete:hover {
  background-color: #ffe6e6;
}
